idp.keystore.password=test
idp.sealer.password=test
idp.sealer.alias=alias
idp.scope=bioaster.org
idp.ask.entityid=false
idp.entityID=http://auth.bioaster.org/idp/shibboleth
idp.target.dir=/opt/shibboleth-idp
idp.host.name=auth.bioaster.org
idp.home=/opt/shibboleth-idp
idp.src.dir=/opt/shibboleth-identity-provider-3.1.2
