#Template cant' be used ,HWADDR is different for all vms
HWADDR=00:50:56:BC:74:E6
NAME=ens192
DNS1=10.69.2.21
DNS2=10.69.2.22
DOMAIN="bioaster.org bioaster.local cc.in2p3.fr"
DEVICE=ens192
ONBOOT=yes
USERCTL=no
BOOTPROTO=none

check_link_down() {
 return 1;
}
TYPE=Ethernet
IPADDR=10.70.3.117
PREFIX=24
GATEWAY=10.70.3.1
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
UUID=03da7500-2101-c722-2438-d0d006c28c73