<?php
$CONFIG = array (
  'instanceid' => 'oc425bfe681a',
  'passwordsalt' => '7a2ad43dc5d73c429dc7219fcf0c43',
  'trusted_domains' => 
  array (
    0 => '{{ host_url }}',
    1 => '{{ service_url }}',
  ),
  'datadirectory' => '{{ data_dir }}',
  'trashbin_retention_obligation' => '30, auto',
  'dbtype' => '{{ db_type }}',
  'version' => '{{ db_version}}',
  'installed' => true,
  'forcessl' => true,
  'theme' => '{{ oc_theme }}',
  'maintenance' => false,
  'secret' => '3e83cea4c159c837b20451785c8c7d582ece402805d02a76e1c963b732765a5c70ab495324b6bcfcbdeb7eb13857f52f',
  'loglevel' => 4,
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => '10.69.2.250',
  'mail_smtpport' => '25',
  'dbname' => '{{ db_name }}',
  'dbhost' => '{{ db_url }}',
  'dbuser' => '{{ db_user }}',
  'dbpassword' => '{{ db_pwd }}',
  'knowledgebaseenabled' => false,
  'asset-pipeline.enabled' => true,
  'enable_previews' => false,
  'preview_libreoffice_path' => '{{ libOff_path}}',
  'memcache.local' => '\\OC\\Memcache\\APCu',
  'appstore.experimental.enabled' => true,
);